.header {
    padding: 10px;
    text-align: center;
    background: #1a1c30;
    color: lavender;
}

.navbar {
    overflow: hidden;
    background-color: beige;
}


    .navbar a {
        float: left;
        display: table;
        color: #1a1c30;
        text-align: initial;
        padding: 10px 10px;
        text-decoration: none;
    }



        .navbar a:hover {
            background-color: midnightblue;
            color: ghostwhite;
        }


h1 {
    font-size: 40px;
    color: violet;
    text-align: center;
}


h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
}
